@charset "UTF-8";

body { width: 87.5%;
       margin-left: auto;
       margin-right: auto;
       padding-left: 12.5%;
       background-color: #fffff8;
       color: #111;
       max-width: 1400px;
       counter-reset: sidenote-counter; }

.top {
	text-align: left;
	background-image: linear-gradient(to top, #fffff8, #ffffcc);
	height: 50px
}