@charset "UTF-8";

body { width: 100%;
       margin-left: auto;
       margin-right: auto;
       margin-top: 0px;
       padding-top: 0px;
       background-color: #fffff8;
       color: #111;
       max-width: 1400px;
       counter-reset: sidenote-counter; }

.top {

	text-align: left;
	background-image: linear-gradient(to top, #fffff8, #ffffe6);
	height: 50px
}